* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	outline: none !important;
}

body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

.fa {
	font-family: 'FontAwesome';
	font-style: normal;
}

a,
a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
	text-decoration: none;
	color: #fff
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 48px;
	line-height: 50px;
}

h2 {
	font-size: 40px;
	line-height: 45px;
}

h3 {
	font-size: 30px;
	line-height: 34px;
}

h4 {
	font-size: 24px;
	line-height: 27px;
}

h5 {
	font-size: 21px;
	line-height: 25px;
}

h6 {
	font-size: 17px;
	line-height: 20px;
}

p {
	font-size: 17px;
	line-height: 24px;
	font-weight: 400;
	color: #737373;
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	color: #333;
}

.title-h {
	text-align: center;
	font-size: 38px;
	line-height: 42px;
	margin-top: 6px;
}

.title-h .p-relative:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 30%;
	width: 100%;
	background-color: #2f3dff;
	opacity: 0.2
}

.flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

.flex-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

/*** position ***/
.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.left-0 {
	left: 0;
}

.image-back-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover
}

.image-back-left {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.image-back-center {
	position: absolute;
	left: 33.333333%;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover
}

/*** padding ***/
.sec-padding {
	padding: 50px 0;
}

.med-padding {
	padding: 75px 0;
}

.footer-padding {
	padding: 50px 0;
}

.box-padding {
	padding: 100px 50px;
}

.no-padding {
	padding: 0 !important;
}

.p-5px {
	padding: 5px;
}

.p-10px {
	padding: 5px 10px;
}

.p-15px {
	padding: 15px;
}

.p-20px {
	padding: 20px;
}

.p-40px {
	padding: 40px;
}

.p-50px {
	padding: 50px;
}

.pt-30px {
	padding-top: 30px;
}

.pt-80px {
	padding-top: 80px;
}

.pb-10px {
	padding-bottom: 10px;
}

.pb-15px {
	padding-bottom: 15px;
}

.pb-80px {
	padding-bottom: 80px;
}

.pr-30px {
	padding-right: 30px;
}

.pr-50px {
	padding-right: 50px;
}

.pl-3px {
	padding-left: 3px;
}

.pl-5px {
	padding-left: 5px;
}

.pl-10px {
	padding-left: 10px;
}

.pl-25px {
	padding-left: 25px;
}

.pl-30px {
	padding-left: 30px;
}

.pl-50px {
	padding-left: 50px;
}

.pl-90px {
	padding-left: 90px;
}

/***** margin *****/

/* margin-top */
.mt-0px {
	margin-top: 0px;
}

.mt-5px {
	margin-top: 5px;
}

.mt-10px {
	margin-top: 10px;
}

.mt-15px {
	margin-top: 15px;
}

.mt-20px {
	margin-top: 20px;
}

.mt-25px {
	margin-top: 25px;
}

.mt-30px {
	margin-top: 30px;
}

.mt-35px {
	margin-top: 35px;
}

.mt-40px {
	margin-top: 40px;
}

.mt-50px {
	margin-top: 50px;
}

/* margin-bottom */
.mb-0px {
	margin-bottom: 0px !important;
}

.mb-5px {
	margin-bottom: 5px;
}

.mb-6px {
	margin-bottom: 6px;
}

.mb-7px {
	margin-bottom: 7px;
}

.mb-10px {
	margin-bottom: 10px;
}

.mb-15px {
	margin-bottom: 15px;
}

.mb-20px {
	margin-bottom: 20px;
}

.mb-25px {
	margin-bottom: 25px;
}

.mb-30px {
	margin-bottom: 30px;
}

.mb-35px {
	margin-bottom: 35px;
}

.mb-40px {
	margin-bottom: 40px;
}

.mb-50px {
	margin-bottom: 50px;
}

.mb-90px {
	margin-bottom: 90px;
}

/* margin-right */
.mr-2px {
	margin-right: 2px;
}

.mr-5px {
	margin-right: 5px;
}

.mr-10px {
	margin-right: 10px;
}

.mr-15px {
	margin-right: 15px;
}

.mr-20px {
	margin-right: 20px;
}

.mr-30px {
	margin-right: 30px;
}

/* margin-left */
.ml-2px {
	margin-left: 2px;
}

.ml-5px {
	margin-left: 5px;
}

.ml-10px {
	margin-left: 10px;
}

/***** font-weight *****/
.fw-100 {
	font-weight: 100;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

/***** font-size *****/
.fs-14 {
	font-size: 14px;
}

.fs-15 {
	font-size: 15px;
}

.fs-17 {
	font-size: 17px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-25 {
	font-size: 25px;
}

.fs-30 {
	font-size: 30px;
}

.fs-35 {
	font-size: 35px;
}

.fs-40 {
	font-size: 40px;
}

.fs-45 {
	font-size: 45px;
}

.fs-50 {
	font-size: 50px;
}

/***** colors *****/
.color-333 {
	color: #333;
}

.color-666 {
	color: #666;
}

.color-777 {
	color: #777;
}

.color-888 {
	color: #888;
}

.color-999 {
	color: #000;
}

.color-fff {
	color: #fff;
}

.color-eee {
	color: #200909;
}

.color-ddd {
	color: #ddd;
}

.color-ccc {
	color: #ccc;
}

.color-bbb {
	color: #bbb;
}

.color-aaa {
	color: #aaa;
}

.color-blue {
	color: #e6bd01;
}

.color-bblue {
	color: #00177FE6;
}

.color-pink {
	color: #e65374;
}

.color-blue-hvr:hover {
	color: #e65374;
}

.color-fff-hvr:hover {
	color: #fff;
}

.color-gold {
	color: #ecb312;
}

/***** background-color *****/
.bg-fff {
	background-color: #fff;
}

.bg-f6f6f6 {
	background-color: #f6f6f6;
}

.bg-f5f5f5 {
	background-color: #f5f5f5;
}

.bg-f4f4f4 {
	background-color: #f4f4f4;
}

.bg-eee {
	background-color: #eee;
}

.bg-000 {
	background-color: #000;
}

.bg-111 {
	background-color: #111;
}

.bg-222 {
	background-color: #222;
}

.bg-333 {
	background-color: #333;
}

.bg-blue {
	background-color: #e6bd01;
}

.bg-yellow {
	background-color: #e6bd01;
}

.bg-blue-hvr:hover {
	background-color: #00177FE6;
}

.bg-333-hvr:hover {
	background-color: #333;
}

.bg-222-hvr:hover {
	background-color: #222;
}

.bg-fff-hvr:hover {
	background-color: #fff;
}

/***** overlay *****/
.overlay-bg-10 {
	background-color: rgba(0, 0, 0, 0.1);
}

.overlay-bg-55 {
	background-color: rgba(0, 0, 0, 0.55);
}

.overlay-bg-60 {
	background-color: rgba(0, 0, 0, 0.6);
}

.overlay-bg-65 {
	background-color: rgba(0, 0, 0, 0.65);
}

.overlay-bg-70 {
	background-color: rgba(0, 0, 0, 0.7);
}

.overlay-bg-75 {
	background-color: rgba(0, 0, 0, 0.75);
}

.overlay-bg-80 {
	background-color: rgba(0, 0, 0, 0.80);
}

.overlay-bg-85 {
	background-color: rgba(0, 0, 0, 0.85);
}

.overlay-bg-90 {
	background-color: rgba(0, 0, 0, 0.90);
}

/***** transition *****/
.transition-2 {
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.transition-3 {
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.transition-4 {
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

.transition-5 {
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}


/***** border-radius *****/
.radius-50 {
	border-radius: 50%;
}

.radius-5px {
	border-radius: 5px;
}

.radius-10px {
	border-radius: 10px;
}

.radius-25px {
	border-radius: 25px;
}

.radius-50px {
	border-radius: 50px;
}

.o-hidden {
	overflow: hidden;
}

.f-right {
	float: right;
}

.f-left {
	float: left;
}

.width-100 {
	width: 100%;
}

.lh-25px {
	line-height: 25px
}

.lh-30px {
	line-height: 30px
}

.opacity-0 {
	opacity: 0;
}

.z-index-0 {
	z-index: 0;
}

.z-index-1 {
	z-index: 1;
}

.z-index-3 {
	z-index: 3;
}

/***** buttons *****/
.main-btn {
	display: inline-block;
	text-decoration: none;
	border: none;
	border-radius: 50px;
	position: relative;
	font-size: 14px;
	word-spacing: 2px;
	font-weight: 400;
	-webkit-transform: perspective(1px);
	transform: perspective(1px);
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	overflow: hidden
}

.main-btn:before {
	content: "";
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transform-origin: center;
	-webkit-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	z-index: -1;
}

.main-btn.before-f6f6f6:before {
	background-color: #f6f6f6;
}

.main-btn.before-f4f4f4:before {
	background-color: #f4f4f4;
}

.main-btn:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* btn-1 */
.btn-1 {
	padding: 10px 26px;
	background-color: #2f3dff;
	color: #fff;
}

.btn-1:hover {
	color: #333;
}

.btn-1:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* btn-2 */
.btn-2 {
	padding: 10px 26px;
	background-color: transparent;
	color: #fff;
}

.btn-2:hover {
	color: #333;
}

.btn-2:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: -2;
	border-radius: 50px;
	border: 2px solid rgba(255, 255, 255, 0.7);
}

/* btn-3 */
.btn-3 {
	padding: 9px 25px;
	background-color: #e65374;
	color: #fff;
	border: 1px solid #e65374;
}

.btn-3:hover {
	color: #e65374;
}

.btn-3.back-f6f6f6:before {
	background-color: #f6f6f6;
}

/* btn-4 */
.btn-4 {
	padding: 10px 26px;
	background-color: transparent;
	color: #e65374;
}

.btn-4:hover {
	color: #fff;
}

.btn-4:before {
	background-color: #e65374;
}

.btn-4:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: -2;
	border-radius: 50px;
	border: 1px solid #e65374;
}

/*----------------------------------------------------
					02-load-wrapp
----------------------------------------------------*/
.load-wrapp {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.load-wrapp .wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%)translateY(-50%);
	transform: translateX(-50%)translateY(-50%);
	-webkit-
}

.load-wrapp .wrap ul.dots-box {
	position: relative;
	width: 80px;
	height: 80px;
	list-style: none;
}

.load-wrapp .wrap ul.dots-box li.dot {
	width: 100%;
	height: 100%;
	border-radius: 52px;
	top: 0;
	left: 0;
	z-index: 99;
	text-indent: -9999px;
	display: block;
	position: absolute;
	border: none;
}

.load-wrapp .wrap ul.dots-box li.dot span {
	background: #2f3dff;
	bottom: 0px;
	left: 50%;
	margin-left: -2px;
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 10px;
}

.load-wrapp .wrap ul.dots-box li.dot {
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: orbit;
	animation-duration: 4s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(2) {
	animation-delay: 0.2s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(3) {
	animation-delay: 0.4s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(4) {
	animation-delay: 0.6s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(5) {
	animation-delay: 0.8s;
}

@keyframes orbit {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 1;
	}

	5% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 1;
	}

	45% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
		opacity: 1;
	}

	55% {
		-webkit-transform: rotate(540deg);
		transform: rotate(540deg);
		opacity: 1;
	}

	75% {
		-webkit-transform: rotate(630deg);
		transform: rotate(630deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: rotate(720deg);
		transform: rotate(720deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotate(720deg);
		transform: rotate(720deg);
		opacity: 0;
	}
}

/*----------------------------------------------------
					End load-wrapp
----------------------------------------------------*/

/*----------------------------------------------------
					03-intro-sec
----------------------------------------------------*/
.intro-sec .image-box {
	box-shadow: 0 1px 30px -6px #bbb;
}

.intro-sec .mb-25px .image-box .overlay-bg-75 {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}

.intro-sec .mb-25px .image-box:hover .overlay-bg-75 {
	opacity: 1;
}

.intro-sec .mb-25px .image-box img {
	box-shadow: 0 3px 35px -10px #555;
}

.intro-sec .mb-25px .image-box:hover img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

/*----------------------------------------------------
					End intro-sec
----------------------------------------------------*/

/*----------------------------------------------------
					04-navbar
----------------------------------------------------*/
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	padding: 10px 0;
}

.navbar .navbar-brand .bg-blue {
	height: 8px;
	width: 8px
}

.navbar .navbar-nav .nav-link {
	font-size: 14px;
	color: #fff;
	padding: 20px;
	font-weight: 800;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
	color: #e65374;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
	color: #fff;
}

.navbar .navbar-nav .nav-link.active {
	color: #e65374;
}

.navbar-colored {
	background-color: #fff;
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.07);
	transition: all .45s ease;
}

.navbar-colored .navbar-brand {
	color: #333;
}

.navbar-colored .navbar-nav .nav-link {
	color: #444;
	padding: 15px 20px;
}

.navbar-colored .navbar-nav .nav-link:hover,
.navbar-colored .navbar-nav .nav-link:focus {
	color: #333;
}

.navbar-colored .navbar-nav .nav-link.active {
	color: #e65374;
}

.navbar .bars {
	display: none;
	cursor: pointer;
}

.navbar .bars span {
	height: 1px;
	width: 28px;
}

.navbar-colored .bars span {
	background-color: #333;
}


.navbar .bars.bars-rotate .first {
	-webkit-transform: rotate(-45deg)translateY(10px);
	transform: rotate(-45deg)translateY(10px);

}

.navbar .bars.bars-rotate .second {
	opacity: 0;
	-webkit-transform: translateX(50px);
	transform: translateX(50px);
}

.navbar .bars.bars-rotate .third {
	-webkit-transform: rotate(45deg)translateY(-10px);
	transform: rotate(45deg)translateY(-10px);

}

/*----------------------------------------------------
					End navbar
----------------------------------------------------*/

/*----------------------------------------------------
					05-welcome-area
----------------------------------------------------*/
.welcome-area {
	background-image: url(../images/main-back.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.welcome-area .overlay-bg-65 {
	min-height: 100vh;
}

.scroll-bottom-btn {
	bottom: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%)translateY(-50px);
	transform: translateX(-50%)translateY(-50px);
	animation: up-down 2s forwards ease-in-out infinite;
}

@keyframes up-down {
	0% {
		transform: translateY(-50px)translateX(-50%)scale(1);
		opacity: 1;
	}

	100% {
		transform: translateY(0px)translateX(-50%)scale(1.4);
		opacity: 0.0
	}
}

/**** welcome-video ****/
.welcome-video,
.welcome-video .overlay-bg-75 {
	min-height: 100vh;
}

.welcome-video .video-background {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	z-index: -1;
}

/***** creative-1  for creative-1 demo *****/
.welcome-area.creative-1 {
	-webkit-clip-path: polygon(100% 0, 100% 97%, 75% 90%, 50% 97%, 25% 90%, 0 97%, 0 0);
	clip-path: polygon(100% 0, 100% 97%, 75% 90%, 50% 97%, 25% 90%, 0 97%, 0 0);
}

/**** creative-2 for creative-2 demo****/
.welcome-area.creative-2:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 50px solid #fff;
	border-right: 50vw solid transparent
}

.welcome-area.creative-2:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom: 50px solid #fff;
	border-left: 50vw solid transparent
}

/**** creative-2 for creative-2 demo****/
.welcome-area.creative-3:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 50px solid #fff;
	border-right: 70vw solid transparent
}

.welcome-area.creative-3:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom: 50px solid #fff;
	border-left: 30vw solid transparent
}

.welcome-area.creative-3 .scroll-bottom-btn {
	left: 70%;
}

/**** welcome-particles ****/
.welcome-particles {
	position: relative;
	height: 100vh;
	background-image: url('../images/numbers.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.75);
	background-blend-mode: overlay;
	text-align: center;
	overflow: hidden;
	-webkit-clip-path: none;
	clip-path: none;
}

.welcome-particles .welcome-text {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*----------------------------------------------------
					End welcome
----------------------------------------------------*/

/*----------------------------------------------------
					06-about-area
----------------------------------------------------*/
.about-area:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 50px solid #f6f6f6;
	border-right: 50vw solid transparent
}

.about-area:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom: 50px solid #f6f6f6;
	border-left: 50vw solid transparent
}

.about-area .about-image a {
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%)translateY(-50%);
	transform: translateX(-50%)translateY(-50%);
}

.about-area .about-image a .fa {
	height: 70px;
	width: 70px;
	line-height: 70px;
}

.about-area .about-image a .fa:after {
	content: "";
	position: absolute;
	right: -8%;
	top: -8%;
	height: 116%;
	width: 116%;
	border-radius: 50%;
	border: 6px solid #fff;
	z-index: -1;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	animation: bulb 1.2s infinite forwards;
}

@keyframes bulb {
	0% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 0.7;
	}

	100% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

.skills-bar .skills-progress {
	height: 10px;
	width: 90%;
	position: relative;
}

.skills-bar .skills-progress span {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}

.skills-bar .skills-progress span:after {
	content: attr(data-value);
	position: absolute;
	right: -15px;
	top: -25px;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}

/*----------------------------------------------------
					End about-area
----------------------------------------------------*/

/*----------------------------------------------------
					07-experience-area
----------------------------------------------------*/
.experience-area:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 50px solid #fff;
	border-right: 70vw solid transparent
}

.experience-area:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom: 50px solid #fff;
	border-left: 30vw solid transparent
}

.experience-area .exper-box .shape {
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 8px;
	opacity: 0.2;
	z-index: 0;
}

.experience-area .exper-box:hover .shape {
	height: 100%;
}

/*----------------------------------------------------
					End experience-area
----------------------------------------------------*/

/*----------------------------------------------------
					08-team-area
----------------------------------------------------*/
.team-area .team-text .social-icons {
	top: 0;
	left: 0;
	width: 50px;
	height: 100%;
	opacity: 0;
	transform-origin: left;
	-webkit-transform: translateX(-100%)scaleX(0);
	transform: translateX(-100%)scaleX(0);
}

.team-area .team-text:hover .social-icons {
	opacity: 1;
	-webkit-transform: translateX(0%)scaleX(1);
	transform: translateX(0%)scaleX(1);
}

.team-area .team-text:hover img {
	-webkit-transform: scale(1.1)translateX(4%);
	transform: scale(1.1)translateX(4%);
}

.team-area .team-text a .fa {
	height: 30px;
	width: 30px;
	line-height: 30px;
}

/*----------------------------------------------------
					End team-area
----------------------------------------------------*/

/*----------------------------------------------------
					09-features-area
----------------------------------------------------*/
.features-area .image-back-right {
	background-image: url(../images/feat.jpg);
	background-size: cover;
	background-position: top;
}

.features-area .p-relative .fa.p-absolute {
	top: 5px;
}

/*----------------------------------------------------
					End features-area
----------------------------------------------------*/

/*----------------------------------------------------
					10-services-area
----------------------------------------------------*/
.services-area .p-relative.bg-f6f6f6:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #e6bd01;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}

.services-area .p-relative.bg-f6f6f6:hover:before {
	background-color: #e6bd01;
	top: 0;
}

.services-area .p-relative.bg-f6f6f6 {
	padding: 70px 20px;
}

.services-area .p-relative.bg-f6f6f6:hover {
	background-color: transparent
}

.services-area .p-relative.bg-f6f6f6:hover i,
.services-area .p-relative.bg-f6f6f6:hover h4 {
	color: #fff;
}

.services-area .p-relative.bg-f6f6f6:hover p {
	color: #fff
}

/*----------------------------------------------------
					End services-area
----------------------------------------------------*/

/*----------------------------------------------------
					11-numbers
----------------------------------------------------*/
.numbers {
	background-image: url(../images/numbers.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.numbers .mt-25px i {
	height: 75px;
	width: 75px;
	line-height: 75px;
	border: 1px solid rgba(255, 255, 255, 0.3)
}

.numbers .mt-25px:hover i {
	background-color: #2f3dff;
	color: #fff;
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	border: 1px solid #2f3dff
}

/*----------------------------------------------------
					End numbers
----------------------------------------------------*/

/*----------------------------------------------------
					12-work-area
----------------------------------------------------*/
.work-area .filtering span {
	display: inline-block;
	color: #333;
	font-size: 14px;
	cursor: pointer;
	padding: 9px 22px;
}

.work-area .filtering .active {
	background-color: #e6bd01;
	color: #fff;
}

.work-area .work-image img {
	width: 100%;
}

.work-area .overlay-bg {
	background-color: #fdf5ec9e;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	opacity: 0;
	-webkit-transform: translateX(-5px)translateY(5px);
	transform: translateX(-5px)translateY(5px);
}

.work-area .work-image:hover .overlay-bg {
	opacity: 1;
	-webkit-transform: translateX(0)translateY(0);
	transform: translateX(0)translateY(0);
}

.work-area .overlay-bg .fa-long-arrow-right {
	top: 10px;
	right: 10px;
	height: 45px;
	width: 45px;
	line-height: 45px;
	border: 1px solid #ccc;
}

.work-area .overlay-bg .fa-long-arrow-right:hover {
	border-color: #2f3dff;
}

.work-area .work-image p {
	-webkit-transform: translateY(15px);
	transform: translateY(15px);
	-webkit-transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

.work-area .work-image h5 {
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
	-webkit-transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

.work-area .work-image:hover h5,
.work-area .work-image:hover p {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

/*----------------------------------------------------
					End work-area
----------------------------------------------------*/

/*----------------------------------------------------
					13-testimonials
----------------------------------------------------*/
.testimonials {
	background-image: url(../images/testimonials.jpg);
	background-position: center;
	background-attachment: fixed;
	background-attachment: fixed;
	background-size: cover;
}

.testimonials .single-review img {
	height: 100px;
	width: 100px;
}

.testimonials .single-review p {
	line-height: 1.5em;
	margin: 0 20%;
}

.testimonials .owl-theme .owl-nav {
	margin-top: 0;
}

.testimonials .owl-theme .owl-nav [class*=owl-] {
	background-color: transparent;
	color: rgba(255, 255, 255, 0.85);
	font-size: 50px;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	position: absolute;
	top: 50%;
}

.testimonials .owl-theme .owl-nav [class*=owl-]:hover {
	color: #2f3dff
}

.testimonials .owl-carousel .owl-nav .owl-next {
	right: 0;
}

.testimonials .owl-carousel .owl-nav .owl-prev {
	left: 0;
}

.testimonials .owl-theme .owl-dots {
	margin-top: 20px;
}

.owl-theme .owl-dots .owl-dot span {
	background-color: transparent;
	border: 1px solid #aaa;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #2f3dff;
	border: 1px solid #2f3dff;
}

/*----------------------------------------------------
					End testimonials
----------------------------------------------------*/

/*----------------------------------------------------
					14-price-area
----------------------------------------------------*/
.price-area .price-item {
	padding: 20px 20px 50px 20px;
	background-color: #fff;
}

.price-area.dark .price-item {
	background-color: #111;
}

.price-area .price-item h4:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -10px;
	height: 1px;
	width: 50%;
	transform: translateX(-50%);
	background-color: #ddd;
}

.price-area .price-item .fa-check {
	width: 25px;
	height: 25px;
	line-height: 25px;
	border: 1px solid rgba(255, 184, 14, 0.6);
}


.price-area .price-item .price-value {
	padding: 20px 10px;
}

/*----------------------------------------------------
					End price-area
----------------------------------------------------*/

/*----------------------------------------------------
					15-blog-area
----------------------------------------------------*/
.blog-area .blog-item:hover img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.blog-area .blog-item {
	box-shadow: 0 3px 35px -8px #ccc;
}

.blog-area.dark .blog-item {
	box-shadow: none;
}

.blog-area .blog-item a.color-aaa:hover .fa {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}

.blog-area.dark .blog-item a.color-777:hover .fa {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}

/*----------------------------------------------------
					End blog-area
----------------------------------------------------*/

/*----------------------------------------------------
					16-brands-area
----------------------------------------------------*/
.brands-area img {
	width: auto;
	max-width: 90%;
}

.brands-area img:hover {
	opacity: 1
}

/*----------------------------------------------------
					brands-area
----------------------------------------------------*/

/*----------------------------------------------------
					17-contact-area
----------------------------------------------------*/
.contact-area .address i {
	height: 60px;
	width: 60px;
	line-height: 60px;
	display: inline-block;
}

.contact-form {
	border-radius: 3px;
}

.form-group {
	margin-bottom: 0;
}

.form-control {
	display: block;
	border: 0px;
	width: 100%;
	height: 45px;
	padding: 5px 0px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #333;
	text-indent: 20px;
	background-color: transparent;
	border: 1px solid #ddd;
	border-radius: 0px;
	box-shadow: none;
	margin-bottom: 30px;
	font-weight: 300;
}

textarea.form-control {
	height: 200px;
}

.form-control:focus {
	outline: 0;
	box-shadow: none;
}

.has-error .form-control,
.has-error .form-control:focus {
	box-shadow: none;
	outline: none;
}

.contact-form input[type='submit'] {
	padding: 10px 25px;
	border: 1px solid #2f3dff;
	outline: 0;
	box-shadow: none;
}

.contact-form input[type='submit']:hover {
	background-color: transparent;
	border-color: #2f3dff;
	outline: 0;
	box-shadow: none;
	cursor: pointer;
}

/*----------------------------------------------------
					End contact-area
----------------------------------------------------*/

/*----------------------------------------------------
					18-map
----------------------------------------------------*/
#map {
	height: 500px;
	width: 100%;
}

/*----------------------------------------------------
					End map
----------------------------------------------------*/

/*----------------------------------------------------
					19-footer-area
----------------------------------------------------*/
.footer-area a {
	height: 45px;
	width: 45px;
	line-height: 45px;
}

/*----------------------------------------------------
					End footer-area
----------------------------------------------------*/

/*----------------------------------------------------
					20-scroll-top-btn
----------------------------------------------------*/
.scroll-top-btn .fa {
	width: 40px;
	height: 40px;
	line-height: 40px;
	z-index: 9999;
	cursor: pointer;
	position: fixed;
	right: 15px;
	bottom: 10px;
	display: none
}

/*----------------------------------------------------
					End scroll-top-btn
----------------------------------------------------*/

/***** 21- single-blog page *****/
.blog-intro {
	background-image: url(../images/feat.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 500px;
}

.blog-intro .overlay-bg-75 {
	min-height: 500px;
}

.blog-details .comment-box {
	padding: 25px 10px;
}

.blog-details .comment-box .p-absolute {
	top: 25px;
	left: 10px;
}

.blog-details .comment-box .p-absolute img {
	width: 75px
}

.blog-details .form input[type='submit'] {
	padding: 10px 25px;
	border: 1px solid #2f3dff;
	outline: 0;
	box-shadow: none;
}

.blog-details .form input[type='submit']:hover {
	background-color: transparent;
	border-color: #2f3dff;
	outline: 0;
	box-shadow: none;
	cursor: pointer;
}